<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{{ col_name }}</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round"
          rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/owl.carousel.css') }}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/owl.theme.default.css') }}"/>

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/magnific-popup.css') }}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<div id="numbers" class="section sm-padding">
    <div class="container">
        <div class="row">
            <div class="section-header text-center">
                <h2 class="title">
                    <a href="{{ url_for('view_data_set', name=table_name) }}"> {{ table_name }} </a>
                    &gt; {{ col_name }} </h2>
                {% if col_info.col_type == 'DOUBLE' %}
                    <p>Min: {{ col_info.min_val }}</p>
                    <p>Max: {{ col_info.max_val }}</p>
                    <p>Mean: {{ col_info.mean_val }}</p>
                {% else %}
                    {% for v in col_info.str_vals %}
                        <p>{{ v }}</p>
                    {% endfor %}
                {% endif %}
                {% if table_name.lower().endswith('_target') %}
                    <a href="{{ url_for('del_target_column', table_name=table_name, col_name=col_name) }}">
                        Remove from target table</a>
                {% elif not target_col_info %}
                    <a href="{{ url_for('add_target_column', table_name=table_name, col_name=col_name) }}">
                        Add column to target table</a>
                {% else %}
                    <a href="{{ url_for('view_column', table_name=table_name+'_TARGET', col_name=col_name) }}">
                        Target Column</a>
                {% endif %}
            </div>

            {% for img in images %}
                <div class="col-md-6 col-sm-6">
                    <div class="service">
                        <h3>{{ img.fig_title }}</h3>
                        <img width="100%"
                             src="{{ url_for('static', filename='images/'+img.fig_name+'.png') }}"/>
                        <button class="main-btn"
                                onclick="location.href='{{ url_for('del_figure', name=img.fig_name, tn=table_name, cn=col_name) }}';">
                            Delete
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div class="container">
    <div class="section-header text-center">
        <form method="post" action="{{ url_for('add_figure') }}">
            <input name="table_name" type="hidden" value="{{ table_name }}"/>
            <input name="col_name" type="hidden" value="{{ col_name }}"/>
            <table>
                <tr>
                    <td><label>Title:</label></td>
                    <td><input name="fig_title" type="text" required/></td>
                </tr>
                <tr>
                    <td>
                        <select name="fig_type">
                            <option value="hist">HISTOGRAM</option>
                            <option value="plot">PLOT</option>
                        </select>
                    </td>
                    <td>
                        <select name="rel_column">
                            {% for col in col_infos %}
                                {% if col.col_type == 'DOUBLE' %}
                                    <option value="{{ col.col_name }}">{{ col.col_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Parameter</label></td>
                    <td><input name="fig_param" type="text"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="ADD"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>