<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{{ col_name }}</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round"
          rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/owl.carousel.css') }}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/owl.theme.default.css') }}"/>

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/magnific-popup.css') }}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<div id="numbers" class="section sm-padding">
    <div class="container">
        <div class="row">
            <div class="section-header text-center">
                <h2 class="title">
                    <a href="{{ url_for('view_data_set', name=table_name) }}"> {{ table_name }} </a>
                    -> {{ col_name }}
                </h2>
                {% if col_info.col_type == 'DOUBLE' %}
                    <p>Min: {{ col_info.min_val }}</p>
                    <p>Max: {{ col_info.max_val }}</p>
                    <p>Mean: {{ col_info.mean_val }}</p>
                {% else %}
                {% endif %}
            </div>

            {% for img in images %}
                <div class="col-md-9 col-sm-6">
                    <div class="service">
                        <img src="{{ url_for('static', filename='images/'+img.fig_name+'.png') }}"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form method="post" action="{{ url_for('add_figure') }}">
    <input name="table_name" type="hidden" value="{{ table_name }}"/>
    <input name="col_name" type="hidden" value="{{ col_name }}"/>
    <input name="fig_title" type="text"/>
    <select name="fig_type">
        <option value="hist">HISTOGRAM</option>
        <option value="plot">PLOT</option>
    </select>
    <select name="rel_column">
        {% for col in col_infos %}
            {% if col.col_type == 'DOUBLE' %}
                <option value="{{ col.col_name }}">{{ col.col_name }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input name="fit_param" type="text"/>
    <input type="submit" value="ADD"/>
</form>
</body>
</html>